:root {
  --color-white: #ffffff;

  --color-error: #f46363;
  --color-primary-bg: #eff1f7;
  --color-primary-bg-menu: #3a3054;
  --color-primary-generic: #9e9aa8;
  --color-primary-text: #34313d;
  --color-primary-cta: #2bd0d0;
  --color-secondary-bg-menu: #ffffff;

  --color-hero-bg: #ffffff;
}

body {
  background-color: var(--color-primary-bg);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.btn {
  background-color: var(--color-primary-cta);
  border-radius: 32px;
  color: var(--color-white);
  border: none;
  outline: none;
}

.hero {
  background-color: var(--color-hero-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  padding-bottom: 168px;
  gap: 64px;
  position: relative;

  background-image: url(../assets/cloud.svg);
  background-position-y: 96px;
  background-position-x: 75px;
  background-size: 460px;
  background-repeat: no-repeat;
}

.hero-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero-header-nav {
  display: none;

  position: absolute;
  top: calc(100% + 24px);
  width: 100%;

  padding: 40px 24px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--color-primary-bg-menu);
  border-radius: 10px;
}

.hero-header-nav--active {
  display: flex;
}

.hero-header-nav-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
}

.hero-header-nav-links {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: #9e9aa8 solid 1px;
}

.hero-header-link {
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--color-white);
}

.hero-header-btn {
  padding: 12px;
  width: 100%;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.hero-img {
  width: 100%;
}

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.hero-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.hero-main-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.05px;
  text-align: center;

  color: var(--color-primary-text);
}

.hero-main-description {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.12px;
  text-align: center;

  color: var(--color-primary-generic);
}

.hero-main-btn {
  padding: 12px 40px;

  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
}

.short-links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  top: -80px;
}

.short-links-form {
  background-color: var(--color-primary-bg-menu);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  gap: 16px;
}

.short-links-form-input {
  padding: 16px;

  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  outline: none;
  border: none;
  border-radius: 5px;

  color: var(--color-primary-text);
}

.short-links-form-input::placeholder {
  color: color-mix(in srgb, var(--color-primary-text) 50%, transparent);
}

.short-links-form-input-error {
  display: none;

  font-family: Poppins;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;

  color: var(--color-error);
}

.short-links-form-input-error-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.short-links-form-input-error-wrapper.error {
  .short-links-form-input {
    box-shadow: inset 0px 0px 0px 3px var(--color-error);
  }

  .short-links-form-input::placeholder {
    color: color-mix(in srgb, var(--color-error) 50%, transparent);
  }

  .short-links-form-input-error {
    display: block;
  }
}

.short-links-form-submit-btn {
  padding: 16px;
  border-radius: 5px;

  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.short-links-shortened-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  gap: 24px;
  padding: 0;
}

.short-links-shortened-link {
  background-color: var(--color-secondary-bg-menu);
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.short-links-shortened-link-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.short-links-shortened-link-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: var(--color-primary-text);
}

.short-links-shortened-link-separator {
  border: none;
  height: 1px;
  background-color: color-mix(
    in srgb,
    var(--color-primary-generic) 25%,
    transparent
  );
  width: calc(100% + 32px);
  position: relative;
  left: -16px;
}

.short-links-shortened-link-short-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: var(--color-primary-cta);
}

.short-links-shortened-link-copy-btn {
  padding: 8px;
  border-radius: 5px;

  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
}

.short-links-shortened-link-copy-btn--copied {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--color-primary-bg-menu);

  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
}

.statistics {
  padding: 0 24px 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.statistics-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statistics-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  text-align: center;

  color: var(--color-primary-text);
}

.statistics-description {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.11px;
  text-align: center;

  color: var(--color-primary-generic);
}

.statistics-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;
}

.statistics-vertical-line {
  z-index: -1;
  position: absolute;
  width: 8px;
  height: calc(100% - 32px);
  bottom: 0;
  background-color: var(--color-primary-cta);
}

.statistics-statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  padding: 76px 32px 32px;

  background-color: var(--color-secondary-bg-menu);
  border-radius: 5px;
}

.statistics-statistic-icone-wrapper {
  position: absolute;
  padding: 20px;
  border-radius: 100%;
  background-color: var(--color-primary-bg-menu);
  top: 0;
  transform: translateY(-50%);
}

.statistics-statistic-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;

  color: var(--color-primary-text);
}

.statistics-statistic-description {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: var(--color-primary-generic);
}
